.setting {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
  color: var(--main-color);
  border-radius: 10px;
  row-gap: 20px;
}

.setting div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.setting-input {
  padding: 5px 0 5px;
  text-align: center;
  border: 3px solid var(--main-color);
  border-radius: 5px;
}

.warning {
  font-size: 13.3333px;
  border: 3px solid var(--warning-color);
  background-color: rgb(237, 81, 140);
  /*border: red;*/
}
