.counter {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border: 3px solid var(--main-color);
  border-radius: 10px;
  padding: 15px;
}

.display {
  font-size: 50px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  color: var(--bgc-color);
  border-radius: 10px;
  background-color: var(--main-color);
}

.red {
  font-size: 60px;
  color: red;
}

.block {
  display: flex;
  padding: 10px;
  border: 3px solid var(--main-color);
  border-radius: 10px;
  column-gap: 10px;
}
