.App {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  text-align: center;
  background-color: #282c34;
  column-gap: 20px;
}


:root {
  --main-color: #61dafb;
  --bgc-color: #282c34;
}
