:root {
  --main-color: #61dafb;
  --bgc-color: #282c34;
  --warning-color: #ff0000;
}

.App {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  text-align: center;
  background-color: #282c34;
  column-gap: 20px;
}

.counter {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  padding: 15px;
  border: 3px solid var(--main-color);
  border-radius: 10px;
  row-gap: 10px;
}
